:host {
    display: block;
    height: 100%;
}

.container {
    padding: 0;
    height: 100%; // Fill parent
    width: 100%;
    overflow: hidden;
}

.dashboard-iframe {
    width: 100%;
    height: 100%;
    border: none;
}