<mat-card>
    <mat-card-title>Product Search</mat-card-title>

    <div class="search-options-header">
        <mat-radio-group [(ngModel)]="searchType" (ngModelChange)="onSearchTypeChanged()" class="search-type-radios">
            <mat-radio-button value="{{searchTypes.TRADITIONAL_SQL}}"><span class=radio-text>Traditional SQL</span></mat-radio-button>
            <mat-radio-button value="{{searchTypes.FULLTEXT}}"><span class=radio-text>Full-text Search</span></mat-radio-button>
            <mat-radio-button value="{{searchTypes.TEXT_EMBEDDINGS}}"><span class=radio-text>Vector Search</span></mat-radio-button>
            <mat-radio-button value="{{searchTypes.HYBRID}}"><span class=radio-text>Hybrid Search</span></mat-radio-button>
            <!-- <mat-radio-button value="{{searchTypes.IMAGE}}"><span class=radio-text>Image Search</span></mat-radio-button> -->
        </mat-radio-group>

        <div class="ai-filter-toggle-container">
            Filter with <img src="../../assets/gemini_logo_small.png" alt="Gemini Logo" width="15" height="15">Gemini
            <mat-slide-toggle [(ngModel)]="aiFilterEnabled" class="ai-filter-toggle">
            </mat-slide-toggle>
        </div>
    </div>

    <div class="search-inputs-container">
        <div class="search-input-wrapper"
            [ngClass]="{'full-width-wrapper': !aiFilterEnabled, 'half-width-wrapper': aiFilterEnabled}">
            <mat-form-field floatLabel="always" class="product-search-field full-width-field">
                <mat-label>Product Search</mat-label>
                <input matInput [(ngModel)]="productSearch" (keydown.enter)="findProducts()"
                    [placeholder]="searchType == 'image' ? SEARCH_PLACEHOLDER_IMAGE : (aiFilterEnabled ? 'Enter main search term or leave blank for AI filter only' : SEARCH_PLACEHOLDER)">
            </mat-form-field>
            <div class="suggestion-container" *ngIf="getSuggestion()">
                <div class="suggestion-chip" (click)="productSearch = getSuggestion(); findProducts()">
                    <mat-icon class="suggestion-icon">lightbulb</mat-icon>
                    <span>Try example: <strong>{{ getSuggestion() }}</strong></span>
                </div>
            </div>
            </div>

        <mat-form-field *ngIf="aiFilterEnabled" class="half-width-field ai-filter-input" floatLabel="always">
            <mat-label>Gemini Filter</mat-label>
            <input matInput [(ngModel)]="aiFilterText" (keydown.enter)="findProducts()"
                placeholder="e.g., a well-known brand">
        </mat-form-field>
    </div>

    <!-- <app-image-selector *ngIf="searchType=='image'"
                    (imageSelected)="onImageSelectedFromChild($event)"></app-image-selector> -->
    <mat-card-actions>
        <button mat-raised-button color="primary"
            [disabled]="productsLoading || (productSearch.length === 0 && (!aiFilterEnabled || aiFilterText.length === 0))"
            (click)="findProducts()">
            <span>{{ productsLoading ? LOADING_BUTTON_TEXT : BUTTON_TEXT }}</span>
        </button>
        <span *ngIf="!productsLoading && searchDuration > 0" style="margin-left: 16px; color: gray; font-size: 0.9em;">
            ({{ searchDuration | number:'1.2-3' }}s)
        </span>
        <span class="show-sql-spacer"></span>
        <div class="show-sql">
            <button mat-raised-button color="primary" style="margin-left: 8px;"
                *ngIf="productResultsComponent && (productResultsComponent.interpolatedQuery || productResultsComponent.query || productResultsComponent.facetInterpolatedQuery)"
                (click)="productResultsComponent.openSqlDialog()">
                View SQL Queries
            </button>
        </div>

    </mat-card-actions>
    <app-product-results [productsResponse]="productsResponse$" [facetsResponse]="facetsResponse$"
        [searchQuery]="productSearch" [searchType]="searchType" [productsLoading]="productsLoading"
        [facetsLoading]="facetsLoading" [aiFilterEnabled]="aiFilterEnabled"
        (facetSelectionChange)="onFacetSelectionChanged($event)"></app-product-results>

</mat-card>