<div class="app-container">
    <mat-toolbar>
        @if(!isSmallScreen) {
            <div>
                <a href="/products"><img src="/assets/Global_Gadgets_Logo-transparent.png" alt="Global Gadgets"
                        class="toolbar-logo" /></a>
            </div>
        } @else {
            <div>
                <a href="/products"><img src="/assets/Global_Gadgets_Logo-transparent.png" alt="Global Gadgets"
                        class="small-toolbar-logo" /></a>
            </div>
        }
        <div class="subtitle">Global Gadgets</div>
        <mat-divider [vertical]="true"></mat-divider>

        <span class="toolbar-spacer"></span>

        <div class="powered-by-container"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; line-height: 1.1;">
            <span style="font-size: 0.8em; color: rgba(0,0,0,0.7); margin-bottom: 2px;">Powered By</span>
            <span class="powered-by">
                <img src="/assets/alloydb.svg" alt="AlloyDB" class="product-logo" viewBox="0 0 24 24" /> AlloyDB
                <img src="/assets/vertex_ai.svg" alt="Vertex AI" class="product-logo" viewBox="0 0 24 24" /> Vertex AI
                <img src="/assets/looker.png" alt="Looker" class="product-logo" viewBox="0 0 24 24" /> Looker
                <img src="/assets/bigquery.png" alt="BigQuery" class="product-logo" viewBox="0 0 24 24" /> BigQuery
            </span>
        </div>
        
        <span class="toolbar-spacer"></span>

        <mat-divider [vertical]="true"></mat-divider>
        <button mat-raised-button color="primary" (click)="openArchitectureDialog()" style="margin-right: 8px;">
            <span class="architecture">Architecture</span>
        </button>
        <button mat-button (click)="openKudosDialog()">
            <span class="architecture">Kudos</span>
        </button>
    </mat-toolbar>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        @for (link of navLinks; track link) {
        <a mat-tab-link [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            {{link.label}}
        </a>
        }
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>
</div>